/* List of rooms */
.roomTab {
    float: left;
    width: 100px;
	border-right: 1px solid black;
	height: 300px;
	padding: 10px;
	overflow-y: scroll;
}

/* Chat window */
.conversationTab {
    float: left;
	width: 300px;
	height: 250px;
	overflow-y: scroll;
	padding: 10px;
}

/* List of users */
.userTab {
    float: left;
	width: 100px;
	border-left: 1px solid black;
	height: 300px;
	padding:10px;
	overflow-y:scroll;
}
