body {
	margin: 0px;
}

/* Container for app */
#wrapper {
	
}

/* List of rooms */
#roomTab {
    float: left;
    width: 100px;
	border-right: 1px solid rgba(0, 0, 0, .10);
	height: 300px;
	padding: 10px;
}

/* Chat window */
#conversationTab {
    float: left;
	width: 300px;
	height: 250px;
	padding: 10px;
}

/* List of users */
#userTab {
    float: left;
	width: 100px;
	border-left: 1px solid rgba(0, 0, 0, .10);
	height: 300px;
	padding:10px;
}