body {
	margin: 0px;
}

/* Container for app */
#wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* List of rooms */
#roomTab {
	float: left;
	width: 15%;
	height: 100%;
	flex: 0 0 25%;
	border-right: 1px solid rgba(0, 0, 0, .10);
	padding: 10px;
}

/* Chat window */
#conversationTab {
	float: left;
	width: 65%;
	height: 100%;
	padding: 10px;
}

/* List of users */
#userTab {
	float: left;
	height: 100%;
	border-left: 1px solid rgba(0, 0, 0, .10);
	padding:10px;
}